<!-- This loads on every page of the site. -->

<!DOCTYPE html>
<html>
  <head>
    <title>Psychic Potato</title>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://js.stripe.com/v2/", type: 'text/javascript' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- This will tell Stripe who's making the call to it -->
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a href="/" class="navbar-brand"><i class="fa fa-superpowers"></i> Psychic Potato</a> -->
          <!-- The Ruby way to do links. Equals sign means you're spitting something out in HTML. -->
          <!-- root_path will always go to prefix root with rails routes cmd -->
          <%= link_to root_path, class: "navbar-brand" do %>
            <i class="fa fa-superpowers"></i>
            Psychic Potato
          <% end %>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <div class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <!-- Whenever you have a delete method, you need `method: :delete` -->
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn" %>
            <% else %>
              <%= link_to "Log In", new_user_session_path, class: "btn btn-default navbar-btn" %>
            <% end %>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="/about">About</a></li> -->
            <!-- about_path will always go to prefix about with rails routes cmd -->
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", new_contact_path %></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- For each key-value pair we have in our flash hash, create a div tag
    with the message inside of it and the corresponding Bootstrap class -->
    <!-- This is here instead of in contacts/new.html.erb just in case in the future
    we want to redirect to somewhere that's not the contacts page -->
    <div class="container flash-container">
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{type}" %>
      <% end %>
    </div>

    <!-- Our pages get injected here. -->
    <%= yield %>
  </body>
</html>
